* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  font-size: 16px;
  color: #6b6b6b;
  width: 100%;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  font-family: "robotoregular";
  font-weight: 300;
}
.section-1 {
  background-image: url(./Assets/header-backgroundImg.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
nav {
  padding: 54px 75px;
}
.upper-nav {
  display: flex;
  gap: 69rem;
}
.logo img {
  width: 36px;
  height: 43px;
  margin-left: 58px;
}
.hamburger-menu {
  border: 1px solid white;
  width: 38px;
  height: 39px;
  padding: 3px;
}
.hamburger-menu hr {
  width: 25px;
  display: block;
  margin: 6px auto;
  color: white;
  margin-top: 7px;
}
.name {
  margin: 13rem 25rem;
  
}
.name hr {
  width: 27.6rem;
}
.name h1 {
  font-size: 3.6rem;
  color: white;
  letter-spacing: 6px;
  font-family: "Lane", sans-serif;
  font-weight: 600;
  padding: 6px 0px;
}
.name p {
  font-family: "Lane", sans-serif;
  margin-top: 14px;
  font-size: 17px;
  color: rgb(215, 214, 214);
  font-weight: 200;
  margin-left: 9px;
  letter-spacing: 1px;
}
